.terminal {
  background-color: #000;
  width: 100%;
  max-width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf,
    inset -2px -2px grey, inset 2px 2px #fff;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;

  &__top-bar {
    text-align: center;
    background-color: #000080;
    color: #fff;
    padding: 0.25rem;
    font-size: 0.9rem;
    margin: 3px 2px 3px 2px;
    border-bottom: 1px solid gray;
    cursor: default;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  &__view {
    padding: 0.5rem 1rem;
    color: #fff;
    overflow: scroll;
    height: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    & div {
      display: flex;

      & span {
        display: block;
        color: #0f0;
        margin-right: 0.5rem;
      }
    }

    &--bottom {
      padding: 0 0 2.5rem 0;

      & span {
        color: #0f0;
      }

      &__input {
        cursor: default!important;
        all: unset;
        color: #fff;
        width: 100%;
        cursor: default;
      }
    }
  }
}
