@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'PT Sans', 'Open Sans',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}


html,
body,
#root,
.app__container  {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #008080;
  height: 100%;
}

#root {
  isolation: isolate;
}

body {
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.app__container {
  display: flex;
  align-items: center;
  justify-content: center;
  &__desktop {
    position: absolute;
    left: 0px;
    top: 0px;
    &__icon {
      height: 80px;
      width: 80px;
      padding-top: 50px;
      margin: 5px;
      background-repeat: no-repeat;
      background-position: center 10px;
      text-align: center;
      cursor: pointer;
      line-height: 1;
      & span {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
      }
      &:hover {
        color: #fff;
        background-color: #000080;
      }
      &--focus {
        color: #fff;
        background-color: blue;
        backdrop-filter: grayscale(100%);
        -webkit-backdrop-filter: grayscale(100%);
        -moz-backdrop-filter: grayscale(100%);
      }
      &--folder {
        background-image: url("folder.png");
      }
    }
  }
}
